<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="Yii base tests">
            <directory>./src/Yii/Base/Tests</directory>
            <directory>./src/Yii/Collections/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
